main {
    max-width: 800px;
}

h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 5px; 
    color: var(--primary-color);
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.genres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 20px 0;
    gap: 10px; 
    max-width: 500px;   
}

.genre {
    padding: 10px 15px;
    /*border: 2px solid #c91212; */
    border: 2px solid white;
    border-radius: 8px;
    background-color: transparent; 
    color: #ffffff; 
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}
.genre:hover {
    background-color: var(--primary-color); 
    color: white; 
}

.search {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.search-input {
    width: 100%;
    padding: 10px;
    padding-left: 110px; 
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    color: white;
    outline: none;
    font-style: italic;
}

.selected-artists {
    list-style: none;
    padding-left: 0;
}

.selected-artists li {
    color: #FF4A4A;
    font-size: 1rem;
}

.selected {
    outline: 3px solid white;
}

.artist-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.artist-item {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    width: 250px; 
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.2);
    margin-bottom: 15px; 
    justify-content: space-between; 
    background-color: white;
    border: 1px solid  #ffffff; 
}

.artist-item img {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    object-fit: cover; 
    margin-right: 10px; 
}

.artist-name {
    color: rgb(0, 0, 0);
    font-weight: bold;
    flex-grow: 1; 
}
  
.input-wrapper {
    position: relative;
    width: 280px;
    margin-bottom: 20px;
}
  
.icon_search {
    position: absolute;
    transform: translate(0px, -28px);
    left: 10px;
    top: 40px;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('../../assets/icons/search.svg');
    cursor: pointer;
}

.selected-artists, .artist-item {
    width: 280px;
}
  
.artist-item i {
    background: none;
    border: none;
    color:solid red;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.artist-item i:hover {
    color: var(--primary-color);
}
