/* Estilos para la barra de navegación */

aside {
  position: fixed;
  left: 0;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: solid 3px var(--primary-color);
}

aside img {
  width: 100px;
  transform: translateY(-100px);
}

nav {
  display: flex;
  flex-direction: column;
  transform: translateY(-50px);
}

nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.5em;
}
nav .current_page {
  color: var(--primary-color);
  cursor: default;
}
nav a:hover {
  color: var(--primary-color)
}

nav a i {
  margin-right: 20px;
}
nav a:hover > i {
  /* Filtro para obtener el color primario #e0122f en el icono */
  filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(5288%) hue-rotate(345deg) brightness(89%) contrast(97%);
}
nav .current_page i {
  filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(5288%) hue-rotate(345deg) brightness(89%) contrast(97%);
  cursor: default;
}

.icon_friends {
  right: 10px;
  top: 40px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/icons/friends.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon_explore {
  right: 10px;
  top: 40px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/icons/leaf.svg');
  cursor: pointer;
}

.icon_profile {
  right: 10px;
  top: 40px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/icons/profile.svg');
  cursor: pointer;
}

/* Contenido principal para paginas que usen aside */
main { 
  margin-left: 20vw;
  width: 80vw;
  overflow-x: hidden;
}
