/* Estilos para la barra de navegación */

aside {
  position: fixed;
  left: 0;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  /* border-right: solid 3px var(--primary-color); */
  padding-left: 30px;
}

aside img {
  width: 50px;
  margin: 20px 0 50px 0;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1em;
}
nav .current_page {
  color: var(--primary-color);
  cursor: default;
}
nav a:hover {
  color: var(--primary-color);
}

nav a i {
  margin-right: 10px;
  background-repeat: no-repeat;
  transform: translateY(-3px);
}
nav a:hover > i {
  /* Filtro para obtener el color primario #e0122f en el icono */
  filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(5288%) hue-rotate(345deg) brightness(89%) contrast(97%);
}
nav .current_page i {
  filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(5288%) hue-rotate(345deg) brightness(89%) contrast(97%);
  cursor: default;
}

.icon_friends {
  right: 10px;
  top: 40px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/icons/friends.svg');
  /* background-image: url('../../assets/friends.png'); */
  cursor: pointer;
}

.icon_explore {
  right: 10px;
  top: 40px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/icons/leaf.svg');
  /* background-image: url('../../assets/exploreRed.png'); */
  cursor: pointer;
}

.icon_notifications {
  right: 10px;
  top: 40px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/icons/notifications.svg');
  /* background-image: url('../../assets/notifications.png'); */
  cursor: pointer;
}

.icon_profile {
  right: 10px;
  top: 40px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/icons/profile.svg');
  /* background-image: url('../../assets/profile.png'); */
  cursor: pointer;
}

/* Contenido principal para paginas que usen aside */
main { 
  margin-left: 20vw;
  width: 80vw;
  overflow-x: hidden;
}

.logout {
  position: absolute;
  bottom: 5%;
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.logout:hover {
  color: var(--primary-color);
}
.logout:hover > i {
  /* Filtro para obtener el color primario #e0122f en el icono */
  filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(5288%) hue-rotate(345deg) brightness(89%) contrast(97%);
}

.icon_logout {
  right: 10px;
  top: 40px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('../../assets/icons/logout.svg');
  cursor: pointer;
}
