:root {
<<<<<<< HEAD
    --background-color: #303030;
    --text-color: #f4f4f4;
    --primary-color: #e0122f;
}

body {
    color: white;
=======
    --background-color: #161823;
    --text-color: #e6e6e6;
    --primary-color: #fe2c55;
    --border-color: #343434;
    --spacing-color: #21232f;
    --icon-color: #888;
    --mention-color: #a0a0a0; /* Color para las menciones */
}

body {
    color: var(--text-color);
>>>>>>> 3b387b561f70f4bd85bef78a2206e448dfc5f25d
    padding: 0;
    margin: 0;
    min-height: 100vh;
    overflow: auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
<<<<<<< HEAD
    zoom: 200%;
=======
>>>>>>> 3b387b561f70f4bd85bef78a2206e448dfc5f25d
    background-color: var(--background-color);
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.sidebar {
<<<<<<< HEAD
    width: 26%;
    min-width: 100px;
    left: 0;
    background-color: var(--background-color);
    color: white;
    height: 100%;
    padding: 0 1rem;
    position: fixed;
    transition: width 0.3s ease-in-out;
    /*border-right: 1.5px solid #444444;*/
}

.sidebar a {
    color: white;
    text-decoration: none;
=======
    width: 120px; /* Aumentamos el ancho del sidebar */
    background-color: var(--background-color);
    color: white;
    height: 100%;
    padding: 1rem 0;
    position: fixed;
    transition: width 0.3s ease-in-out;
}

.sidebar a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.sidebar a img {
    width: 24px;
    height: 24px;
>>>>>>> 3b387b561f70f4bd85bef78a2206e448dfc5f25d
}

.sidebartop {
    display: flex;
<<<<<<< HEAD
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1rem;
    height: 55px;
    margin-bottom: 3rem;
}

.logo {
    width: 50px;
}

=======
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    height: 70px;
    margin-bottom: 3rem;
}

>>>>>>> 3b387b561f70f4bd85bef78a2206e448dfc5f25d
.logo img {
    height: auto;
    max-width: 50px;
}

<<<<<<< HEAD
.sidebar nav ul li a img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.actual a .text {
    color: var(--primary-color);
    font-weight: bold;
}

=======
>>>>>>> 3b387b561f70f4bd85bef78a2206e448dfc5f25d
.sidebar nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
<<<<<<< HEAD
=======
    margin-bottom: 50px; /* Espacio adicional entre la lista y el logout */
>>>>>>> 3b387b561f70f4bd85bef78a2206e448dfc5f25d
}

.sidebar nav ul li {
    display: block;
    align-items: center;
    padding: 1.25rem 0;
    position: relative;
    background-color: transparent;
    transition: background-color 0.25s ease-in-out;
}

<<<<<<< HEAD
.sidebar nav ul li a {
    display: block;
}

=======
>>>>>>> 3b387b561f70f4bd85bef78a2206e448dfc5f25d
.sidebar nav ul li a .text {
    position: relative;
    left: 1rem;
    top: -0.2rem;
}

<<<<<<< HEAD
.account {
    display: flex;
    justify-content: space-between;
    align-content: center;
=======
.actual a .text {
    color: var(--primary-color);
    font-weight: bold;
}

.account {
    display: flex;
    justify-content: center;
>>>>>>> 3b387b561f70f4bd85bef78a2206e448dfc5f25d
    align-items: center;
    width: calc(100% - 2rem);
    position: absolute;
    bottom: 1rem;
}

.logout a img {
    width: 1.5rem;
    height: 1.5rem;
}

<<<<<<< HEAD

@media (max-width: 1440px) {
    .sidebar {
        width: 15%;
    }
    .main {
        margin-left: 18.2%;
        width: 900px;
    }
}

@media (max-width: 1000px) {
    .sidebar {
        width: 10%;
    }
    .main {
        margin-left: 13%;
        width: 900px;
    }
}

@media (max-width: 960px) {
    .sidebar {
        width: 120px;
    }
    .main {
        margin-left: 123px;
        width: 900px;
    }
}


.sidebar {
    width: 12%;
    min-width: 80px;
    padding: 0 0.5rem; /* Reduce el padding interno */
}

.separator {
    width: 2px;
    background-color: #444444; /* Gris */
    height: 100vh;
    position: fixed;
    top: 0;
    left: calc(12% + 2px); /* Se ajusta según el ancho del sidebar */
    z-index: 999;
}

.main {
    margin-left: calc(12% + 4px); /* Espacio justo después del separator */
    width: auto; /* Que se extienda dinámicamente */
    max-width: 100%;
    background-color: #303030;
    border-left: 2px solid #444444;
    border-right: 2px solid #444444; 
    border-radius: 10px;
    overflow: hidden;
}


/*
.main {
    margin-left: 28%;
    width: 900px;
    background-color: #303030;
    border: 1px solid #444444;
    margin-left: calc(28% + 2px); /
    border-left: 2px solid #444444;
    border-right: 2px solid #444444; 
    border-radius: 10px;
    overflow: hidden;
       
}


.separator {
    width: 2px;
    background-color: #444444; 
    height: 100vh;
    position: fixed;
    top: 0;
    left: 100px;
    z-index: 999;
}*/


=======
.main {
    margin-left: 130px; /* Ajustamos el margen izquierdo para separar del sidebar */
    width: calc(100% - 130px);
    background-color: var(--background-color);
    border-left: 2px solid var(--border-color); /* Hacemos la división más visible */
    overflow: hidden;
    padding: 20px;
}

>>>>>>> 3b387b561f70f4bd85bef78a2206e448dfc5f25d
.notifications-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.notifications-header h2 {
    font-size: 20px;
    font-weight: bold;
}

.filters {
    display: flex;
    gap: 10px;
}

.filter-button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-button.active, .filter-button:hover {
    background-color: var(--primary-color);
}

.notifications-section {
    width: 100%;
    background-color: var(--spacing-color);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notification {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    position: relative;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.notification-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.notification-header strong {
    font-size: 14px;
}

.timestamp {
    font-size: 12px;
<<<<<<< HEAD
    color: #888;
    margin-top: 5px; /* Espacio del comentario */
    align-self: flex-start; /* Se alinea correctamente */
}

/*.notification-actions {
    display: flex;
    gap: 10px;
}*/
.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
=======
    color: var(--icon-color);
    margin-left: auto;
>>>>>>> 3b387b561f70f4bd85bef78a2206e448dfc5f25d
}

.notification-actions {
    display: flex;
<<<<<<< HEAD
    margin-left: auto; /* Empuja el botón a la derecha */
    gap: 10px; /* Si tienes más botones, agrega un pequeño espacio entre ellos */
=======
    gap: 10px;
>>>>>>> 3b387b561f70f4bd85bef78a2206e448dfc5f25d
}

.action-button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-button:hover {
    background-color: var(--primary-color);
<<<<<<< HEAD
=======
}

.notification-reactions {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.notification-reactions span {
    font-size: 12px; /* Reducimos el tamaño de la fuente para las menciones */
    color: var(--mention-color);
}

.play-button img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.play-button {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button img {
    width: 24px;
    height: 24px;
}

.play-button:hover {
    background-color: var(--primary-color);
>>>>>>> 3b387b561f70f4bd85bef78a2206e448dfc5f25d
}