aside {
  position: fixed;
  left: 0;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: solid 3px var(--primary-color);
}

aside img {
  width: 100px;
  transform: translateY(-100px);
}

nav {
  display: flex;
  flex-direction: column;
  transform: translateY(-50px);
}

nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.5em;
}
nav .current_page {
  color: var(--primary-color);
  cursor: default;
}
nav a:hover {
  color: var(--primary-color)
}

nav a i {
  margin-right: 20px;
}
nav a:hover > i {
  /* Filtro para obtener el color primario #e0122f en el icono */
  filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(5288%) hue-rotate(345deg) brightness(89%) contrast(97%);
}
nav .current_page i {
  filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(5288%) hue-rotate(345deg) brightness(89%) contrast(97%);
  cursor: default;
}

.icon_friends {
  right: 10px;
  top: 40px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('assets/icons/friends.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.icon_explore {
  right: 10px;
  top: 40px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('assets/icons/leaf.svg');
  cursor: pointer;
}

.icon_profile {
  right: 10px;
  top: 40px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('assets/icons/profile.svg');
  cursor: pointer;
}

main {
  width: 80vw;
  margin-left: 20vw;
}

.cherry_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cherry_container {
  position: relative;
  width: 600px;
  height: 350px;
  margin-top: 100px;
}

.cherry_container .profile_photo i {
  position: absolute;
  top: 0;
  left: -60px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('assets/icons/profile.svg');
  cursor: pointer;
}

.cherry_content {
  position: relative;
  border-radius: var(--border-radius);
  border: 3px solid var(--text-color);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.username {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 1.1em;
}

.song {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #555;
  padding-left: 20px;
  padding-right: 20px;
}

.song i {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('assets/icons/play.svg');
  cursor: pointer;
}

.cherry_description {
  width: 100%;
  margin-top: 10px;
}

.cherry_description h3 {
  font-size: 1.3em;
  font-weight: normal;
}