:root {
  --background-color: #303030;
  --text-color: #f4f4f4;
  --text-color-dark: #343434;
  --primary-color: #e0122f;
  --primary-color-dark: #a00f23;
  --secondary-color: #429e39;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1000px;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: -30px;
  margin-bottom: 10px;
}

h2 {
  font-weight: lighter;
  font-size: x-large;
}

input {
  width: 100%;
  height: 40px;
  border-radius:var(--border-radius);
  background-color: var(--background-color);
  color: var(--text-color);
  border: solid 2px var(--text-color);
  font-size: large;
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
}

button {
  background-color: var(--primary-color);
  border: solid 3px black;
  border-radius: var(--border-radius);
  padding: 8px 20px;
  color: var(--text-color);
  font-size: large;
  cursor: pointer;
}
button:hover {
  background-color: var(--primary-color-dark);
}

textarea {
  border-radius: var(--border-radius);
  background-color: white;
  color: var(--text-color-dark);
  border: solid 3px black;
  font-size: large;
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
  resize: none;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login div {
  display: flex;
  flex-direction: column;
}

.email_input, .password_input {
  width: 300px;
}

.password_input {
  margin-top: 20px;
  position: relative;
}

.password_input input {
  padding-right: 30px;
}

.icon_eye_slash {
  position: absolute;
  right: 10px;
  top: 40px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('assets/icons/eye_slash.svg');
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
}

.login button {
  margin-top: 20px;
}

.login_button, .register_button {
  width: 200px;
}