:root {
  --background-color: #303030;
  --text-color: #f4f4f4;
  --primary-color: #e0122f;
  --secondary-color: #429e39;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1000px;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

h1 {
  font-weight: lighter;
  font-size: x-large;
}

input {
  width: 100%;
  height: 40px;
  border-radius:var(--border-radius);
  background-color: var(--background-color);
  color: var(--text-color);
  border: solid 2px var(--text-color);
  font-size: large;
}

button {
  background-color: var(--primary-color);
  border: solid 2px black;
  border-radius: var(--border-radius);
  padding: 8px 20px;
  color: var(--text-color);
  font-size: large;
  cursor: pointer;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.login_sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login div {
  display: flex;
  flex-direction: column;
}

.email_input, .password_input {
  width: 300px;
}

.login button {
  margin-top: 20px;
}
